<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SISI|Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../sisi/static/styles.css">
    <link rel="stylesheet" href="../sisi/static/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="../sisi/js/script.js"></script>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="../sisi/index.html" class="active">Home</a>
        <a href="../sisi/products.html">Products</a>
        <a href="../sisi/contact.html">Contact</a>
        <a href="../sisi/about.html">About us</a>
        <!-- <a href="#about">About</a> -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
<img src="../sisi/images/logo2.jpeg" alt="logo" style="width:39%" class="img-fluid">
<br><br>
<section style="background:#4CAF50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div style="color:white">
         <u> <h3 style="text-align:center" id="google-font">OUR VISION.</h3></u>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci consequatur recusandae, nihil officia
            laboriosam provident est ut perferendis? Molestiae expedita provident consequatur nulla labore iusto
            dignissimos soluta necessitatibus? Molestiae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci consequatur recusandae, nihil officia
            laboriosam provident est ut perferendis? Molestiae expedita provident consequatur nulla labore iusto
            dignissimos soluta necessitatibus? Molestiae.
          </p>
        </div>
      </div>

      

    </div>
  </div>
  <br>


</section>
<br><br>
<section style="background:#4CAF50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div style="color:white">
         <u> <h3 style="text-align:center" id="google-font">OUR DNA.</h3></u>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci consequatur recusandae, nihil officia
            laboriosam provident est ut perferendis? Molestiae expedita provident consequatur nulla labore iusto
            dignissimos soluta necessitatibus? Molestiae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci consequatur recusandae, nihil officia
            laboriosam provident est ut perferendis? Molestiae expedita provident consequatur nulla labore iusto
            dignissimos soluta necessitatibus? Molestiae.
          </p>
        </div>
      </div>

      

    </div>
  </div>
  <br>
</section>
<br>
<!-- Footer section  -->

<footer class="footer-distributed">

  <div class="footer-left">

      <h3>Name Organisation <span>Inte</span></h3>

      <p class="footer-links">
          <a href="{% url 'home'%}">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <!-- <a href="#">About</a>
          · -->
          <!-- <a href="#">Faq</a>
          · -->
          <a href="{% url 'contact' %}">Contact</a>
      </p>

      <p class="footer-company-name">Organisation Inte &copy; 2019</p>
  </div>

  <div class="footer-center">

      <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Lorem Ipsum</span> Nairobi, Kenya</p>
      </div>

      <div>
          <i class="fa fa-phone"></i>
          <p>+254700000000</p>
      </div>

      <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">contact@loremipsum.com</a></p>
      </div>

  </div>

  <div class="footer-right">

      <p class="footer-company-about">
          <span>About Us</span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eveniet vel, autem quasi debitis dignissimos
          facilis illo quas, error molestiae pariatur obcaecati. Eius, autem labore nemo tempore unde porro optio?
      </p>

      <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>

      </div>

  </div>

</footer>
</body>
</html>